<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="theme-color" 
              content="#ffffff">
        <title>{% block title %}Carolina Family Karate{% endblock %}</title>
        
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
        <link rel="icon" type="image/x-icon" href="{{ asset('images/icons/favicon.ico') }}" />
        <link rel="apple-touch-icon" 
              sizes="180x180" 
              href="{{ asset('images/icons/apple-touch-icon.png') }}">
        <link rel="icon" 
              type="image/png" 
              sizes="32x32" 
              href="{{ asset('images/icons/favicon-32x32.png') }}">
        <link rel="icon" 
              type="image/png" 
              sizes="16x16" 
              href="{{ asset('images/icons/favicon-16x16.png') }}">
        <link rel="manifest" 
              href="{{ asset('images/icons/manifest.json') }}">
        <link rel="mask-icon" 
              href="{{ asset('images/icons/safari-pinned-tab.svg') }}" 
              color="#5bbad5">
        {% block stylesheets %}
        <link rel="stylesheet" 
              type="text/css" 
              href="{{ asset('css/Bootstrap3/bootstrap.min.css') }}">
        <link rel="stylesheet"
              type="text/css"
              href="{{ asset('css/font-awesome.min.css') }}">
        <link rel="stylesheet" 
              type="text/css" 
              href="{{ asset('css/Web/site.css') }}">
        {% endblock %}
        
        <style>
            body{
                background-color: #424242;
                color: white;
            }
            
             /* Remove the navbar's default margin-bottom and rounded borders */ 
            .navbar {
              margin-bottom: 0;
              border-radius: 0;              
            }
            
            .navbar-inverse .navbar-nav > li > a {
                color: red;
            }
            
            /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
            .row.content {height: 450px}

            /* Set gray background color and 100% height */
            .sidenav {
              padding-top: 20px;
              background-color: #f1f1f1;
              height: 100%;
            }

            /* Set black background color, white text and some padding */
            footer {
              position: fixed;
              left: 0;
              bottom: 0;
              width: 100%;
              background-color: #000000;
              color: white;
              text-align: center;
            }
            
            #banner{
                width: 100%
            }

            /* On small screens, set height to 'auto' for sidenav and grid */
            @media screen and (max-width: 767px) {
              .sidenav {
                height: auto;
                padding: 15px;
              }
              .row.content {height:auto;} 
            }
            
            ul li{
                color:red;
            }
        </style>
    </head>
    <body>
        <div id="banner"><img src="/images/karatebanner.png" alt="Karate Banner"></div>
        {% include 'Homepage/Layout/navbar.html.twig' %}
        {% block body %}{% endblock %}
        {% block javascripts %}
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        {% endblock %}
        {% include 'Homepage/Layout/footer.html.twig' %}
    </body>
</html>
